[Desktop Entry]
Type=Application
Name=Gala Background Services
Comment=Gala Background Services
Exec=io.elementary.gala.daemon
Terminal=false
Categories=GNOME;GTK;System;Core;
NoDisplay=true
StartupNotify=true
X-GNOME-AutoRestart=true
X-GNOME-Autostart-Notify=true
X-GNOME-Autostart-Phase=Desktop
OnlyShowIn=Pantheon
