Source: gala
Section: x11
Priority: optional
Maintainer: Sergey "Shnatsel" Davidoff <shnatsel@gmail.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 8.0.0),
               gsettings-desktop-schemas-dev,
               libbamf3-dev,
               libclutter-1.0-dev (>= 1.9.16),
               libclutter-gtk-1.0-dev,
               libgranite-dev,
               libmutter-dev (>= 3.4),
               libplank-dev,
               valac-0.16 (>= 0.16.1)
Standards-Version: 3.9.2
Homepage: https://launchpad.net/gala

Package: gala
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Provides: x-window-manager
Description: elementary's Window Manager
 Gala is a window & compositing manager based on libmutter and designed
 by elementary for use with Pantheon Shell.

Package: gala-dbg
Architecture: any
Section: debug
Priority: extra
Depends: gala (= ${binary:Version}), ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Enhances: gala
Description: elementary's Window Manager (debugging symbols)
 Gala is a window & compositing manager based on libmutter and designed
 by elementary for use with Pantheon Shell.
 .
 This package contains debugging symbols for gala.
