Source: gala
Section: x11
Priority: optional
Maintainer: Sergey "Shnatsel" Davidoff <shnatsel@gmail.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 8.0.0),
               gsettings-desktop-schemas-dev,
               libbamf3-dev,
               libclutter-gtk-1.0-dev,
               libgranite-dev,
               libplank-dev,
               libmutter-dev,
               valac-0.16 | valac (>= 0.16)
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>

Package: gala
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: x-window-manager
Description: elementary's Window Manager
 Gala is a window & compositing manager based on libmutter and designed
 by elementary for use with Pantheon Shell.

Package: gala-dbg
Architecture: any
Section: debug
Priority: extra
Depends: gala (= ${binary:Version}), ${misc:Depends}
Enhances: gala
Description: elementary's Window Manager (debugging symbols)
 Gala is a window & compositing manager based on libmutter and designed
 by elementary for use with Pantheon Shell.
 .
 This package contains debugging symbols for gala.
