/*
 * Copyright 2024 elementary, Inc. (https://elementary.io)
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

daemon-window {
    background: transparent;
}

.monitor-label {
    border-radius: 9px;
    font-weight: 600;
}

.monitor-label label {
    margin: 1em;
    text-shadow: 0 1px 1px alpha(white, 0.1);
}
