[Unit]
Description=Gala
DefaultDependencies=no

Requisite=gnome-session-initialized.target
PartOf=gnome-session-initialized.target
Before=gnome-session-initialized.target

Wants=io.elementary.gala@wayland.service
Wants=io.elementary.gala@x11.service
