[Desktop Entry]
Type=Application
Name=Gala Background Services
Comment=Gala Background Services
Exec=gala-daemon
Terminal=false
Categories=GNOME;GTK;System;Core;
NoDisplay=true
OnlyShowIn=Pantheon
Hidden=true
