name: CI

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  build:

    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        version: [stable, unstable, development-target]
        include:
          - version: stable
            mutter_pkg: libmutter-14-dev
          - version: unstable
            mutter_pkg: libmutter-14-dev
          - version: development-target
            mutter_pkg: libmutter-14-dev
    container:
      image: ghcr.io/elementary/docker:${{ matrix.version }}

    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        apt update
        apt install -y gettext gsettings-desktop-schemas-devel libatk-bridge2.0-devel libcanberra-devel libclutter-1.0-devel libgee-0.8-devel libglib2.0-devel libgnome-desktop-3-devel libgranite-devel libgtk-3-devel mutter-devel libxml2-utils libsqlite3-devel meson valac valadoc
    - name: Build
      env:
        DESTDIR: out
      run: |
        meson build -Ddocumentation=true
        ninja -C build
        ninja -C build install

  fedora:
    runs-on: ubuntu-latest

    container:
      image: fedora:latest

    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: |
          dnf install -y gettext gsettings-desktop-schemas-dev libatk-bridge2.0-dev libcanberra-dev libclutter-1.0-dev libgee-0.8-dev libglib2.0-dev libgnome-desktop-3-dev libgranite-dev libgtk-3-dev libmutter-15-dev libxml2-utils libsqlite3-dev meson valac valadoc
      - name: Build
        env:
          DESTDIR: out
        run: |
          meson build
          ninja -C build install

  lint:

    runs-on: ubuntu-latest

    container:
      image: valalang/lint

    steps:
    - uses: actions/checkout@v4
    - name: Lint
      run: |
        io.elementary.vala-lint -d daemon
        io.elementary.vala-lint -d lib
        io.elementary.vala-lint -d plugins
        io.elementary.vala-lint -d src
