name: CI

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  build:

    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        version: [stable, unstable, development-target]
        include:
          - version: stable
            mutter_pkg: libmutter-14-dev
          - version: unstable
            mutter_pkg: libmutter-14-dev
          - version: development-target
            mutter_pkg: libmutter-14-dev
    container:
      image: ghcr.io/elementary/docker:${{ matrix.version }}

    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        apt update
        apt install -y gettext gsettings-desktop-schemas-dev libatk-bridge2.0-dev libcanberra-dev libclutter-1.0-dev libgee-0.8-dev libglib2.0-dev libgnome-desktop-3-dev libgranite-dev libgtk-3-dev ${{ matrix.mutter_pkg }} libxml2-utils libsqlite3-dev meson valac valadoc
    - name: Build
      env:
        DESTDIR: out
      run: |
        meson build -Ddocumentation=true
        ninja -C build
        ninja -C build install

  fedora:
    runs-on: ubuntu-latest

    container:
      image: fedora:latest

    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: |
          dnf install -y desktop-file-utils gettext gsettings-desktop-schemas-devel atk-devel libcanberra-devel clutter-devel libgee-devel glib2-devel gnome-desktop3-devel granite-devel granite-7-devel gtk3-devel gtk4-devel libhandy-devel mutter-devel xml2 sqlite-devel meson valac valadoc
      - name: Build
        env:
          DESTDIR: out
        run: |
          meson build
          ninja -C build install

  open-suse-leap:
    runs-on: ubuntu-latest

    container:
      image: opensuse/leap:latest

    steps:
      - name: Install dependencies
        run: |
          zypper addrepo https://download.opensuse.org/repositories/X11:Pantheon/15.6/X11:Pantheon.repo
          zypper --gpg-auto-import-keys refresh
          zypper --non-interactive install tar git desktop-file-utils gsettings-desktop-schemas-devel libatk-1_0-0 libcanberra-devel clutter-devel libgee-devel glib2-devel libgnome-desktop-3-devel granite6-devel granite-devel gtk3-devel gtk4-devel libhandy-devel mutter-devel libxml2-2 sqlite3-devel meson vala valadoc gcc
      - uses: actions/checkout@v4
      - name: Build
        env:
          DESTDIR: out
        run: |
          meson build
          ninja -C build install

  lint:
    runs-on: ubuntu-latest

    container:
      image: valalang/lint

    steps:
    - uses: actions/checkout@v4
    - name: Lint
      run: |
        io.elementary.vala-lint -d daemon
        io.elementary.vala-lint -d lib
        io.elementary.vala-lint -d plugins
        io.elementary.vala-lint -d src
